:host {
  --muted-orange: var(--color-orange-2, #F58C38);
  --bright-orange: var(--color-orange-1, #f66602);
  --viewport-margin: 2.5vmin;
  --foreground-color: var(--fab-foreground-color, white);
  --background-color: var(--fab-background-color, var(--bright-orange));
  --background-hover-color: var(--fab-background-hover-color, var(--muted-orange));
  --button-size: var(--fab-main-button-size, 2rem);
  --mini-button-size: var(--fab-mini-button-size, 1.25rem);
  --inset-block-size: var(--fab-inset-block-size, var(--viewport-margin));
  --inset-inline-size: var(--fab-inset-inline-size, var(--viewport-margin));
}

.fabs {
  position: fixed;
  z-index: var(--layer-1);
  display: flex;
  flex-direction: column-reverse;
  place-items: center;
  gap: var(--viewport-margin);

  inset-block: auto var(--inset-block-size);
  inset-inline: auto var(--inset-inline-size);
}

.fab {  
  padding: calc(var(--button-size) / 2);

  border-radius: var(--radius-round);
  border: 0;
  aspect-ratio: 1;

  background: var(--background-color);
  color: var(--foreground-color);
  box-shadow: var(--shadow-4);

  -webkit-tap-highlight-color: transparent;

  --_motion-reduced: 
    box-shadow .2s var(--ease-3),
    background-color .3s var(--ease-3);
  --_motion-ok: 
    var(--_motion-reduced),
    transform .2s var(--ease-3),
    outline-offset 145ms var(--ease-2);
  --_transition: var(--_motion-reduced);
  transition: var(--_transition);

  @media (prefers-reduced-motion: no-preference) {
    --_transition: var(--_motion-ok);
  }

  &.mini {
    --button-size: var(--mini-button-size);
  }

  & > svg {
    inline-size: var(--button-size);
    block-size: var(--button-size);
    stroke-width: 3px;
    
    @media (prefers-reduced-motion: no-preference) {
      will-change: transform;
      transition: transform .5s var(--ease-squish-3);
    }
  }

  &:active {
    box-shadow: var(--shadow-2);
    
    @media (prefers-reduced-motion: no-preference) {
      transform: translateY(2%);
    }
  }

  &:is(:active, :hover, :focus-visible) {
    --background-color: var(--background-hover-color);
  }

  &:not(:first-of-type) {
    z-index: -1;
  }

  &[data-icon="plus"]:hover > svg {
    transform: rotateZ(.25turn);
  }
}